body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    flex-grow: 1;
    border: 1px solid black;
}

.row, .col{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.hovered {
    background-color: red;
}